In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
import torch 
import torch.nn as nn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [6]:
df = pd.read_csv("Churn_Modelling.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [30]:
new_df = df.iloc[:,3:]

In [32]:
new_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [34]:
encoder_gender = LabelEncoder()
new_df['Gender']= encoder_gender.fit_transform(new_df['Gender'])

In [38]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [46]:
ohe = OneHotEncoder(sparse_output=False)

In [58]:
geo_encoder = ohe.fit_transform(new_df[['Geography']])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [56]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [64]:
temp = pd.DataFrame(geo_encoder,columns=ohe.get_feature_names_out(['Geography']))

In [72]:
newDf = pd.concat([new_df.drop("Geography",axis=1),temp],axis=1)

In [76]:
newDf

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [362]:
import pickle
with open('encoder_gender.pkl','wb') as file:
    pickle.dump(encoder_gender,file)

In [364]:
with open('encoder_geo.pkl','wb') as file:
    pickle.dump(ohe,file)

In [94]:
from torch.utils.data import Dataset,DataLoader

In [216]:
X = newDf.drop('Exited',axis=1)
y = newDf[['Exited']]
X = X.to_numpy()  # or X.values
y = y.to_numpy().reshape(-1, 1)

In [218]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [220]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [222]:
class CustomDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.float32)
        self.y = torch.tensor(y, dtype=torch.float32)

    def __len__(self):
        return len(self.X)

    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]

In [224]:
train_dataset = CustomDataset(X_train_scaled,y_train)

In [226]:
test_dataset = CustomDataset(X_test_scaled,y_test)

In [228]:
train_loader= DataLoader(train_dataset,shuffle=True,batch_size=32)
test_loader= DataLoader(test_dataset,shuffle=False,batch_size=32)

In [315]:
class ChurnModel(nn.Module):
    def __init__(self,input_dim):
        super().__init__()
        self.fc1 = nn.Sequential(
            nn.Linear(input_dim, 64),
            nn.ReLU(),
            nn.Dropout(0.3),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32,1)
        )

    def forward(self, x):
        x = self.fc1(x)
        return torch.sigmoid(x)

In [344]:
epochs = 200
model = ChurnModel(X.shape[1])
criterion = nn.BCELoss()
optimizer = torch.optim.Adam(model.parameters(),lr=0.01)

In [346]:
for epoch in range(epochs):
    model.train()
    train_loss = 0.0

    for X_batch, y_batch in train_loader:

        optimizer.zero_grad()
        outputs = model(X_batch)  
        loss = criterion(outputs, y_batch)
        loss.backward()
        optimizer.step()
        
        train_loss += loss.item() * X_batch.size(0)  

    avg_train_loss = train_loss / len(train_loader.dataset)
    print(f"Epoch {epoch+1}/{epochs}, Train Loss: {avg_train_loss:.4f}")

Epoch 1/200, Train Loss: 0.4198
Epoch 2/200, Train Loss: 0.3728
Epoch 3/200, Train Loss: 0.3679
Epoch 4/200, Train Loss: 0.3609
Epoch 5/200, Train Loss: 0.3578
Epoch 6/200, Train Loss: 0.3552
Epoch 7/200, Train Loss: 0.3496
Epoch 8/200, Train Loss: 0.3524
Epoch 9/200, Train Loss: 0.3485
Epoch 10/200, Train Loss: 0.3468
Epoch 11/200, Train Loss: 0.3448
Epoch 12/200, Train Loss: 0.3468
Epoch 13/200, Train Loss: 0.3435
Epoch 14/200, Train Loss: 0.3422
Epoch 15/200, Train Loss: 0.3432
Epoch 16/200, Train Loss: 0.3404
Epoch 17/200, Train Loss: 0.3408
Epoch 18/200, Train Loss: 0.3374
Epoch 19/200, Train Loss: 0.3425
Epoch 20/200, Train Loss: 0.3396
Epoch 21/200, Train Loss: 0.3412
Epoch 22/200, Train Loss: 0.3407
Epoch 23/200, Train Loss: 0.3402
Epoch 24/200, Train Loss: 0.3383
Epoch 25/200, Train Loss: 0.3352
Epoch 26/200, Train Loss: 0.3364
Epoch 27/200, Train Loss: 0.3350
Epoch 28/200, Train Loss: 0.3371
Epoch 29/200, Train Loss: 0.3340
Epoch 30/200, Train Loss: 0.3358
Epoch 31/200, Train Loss: 0.3364
Epoch 32/200, Train Loss: 0.3366
Epoch 33/200, Train Loss: 0.3334
Epoch 34/200, Train Loss: 0.3331
Epoch 35/200, Train Loss: 0.3316
Epoch 36/200, Train Loss: 0.3318
Epoch 37/200, Train Loss: 0.3274
Epoch 38/200, Train Loss: 0.3290
Epoch 39/200, Train Loss: 0.3260
Epoch 40/200, Train Loss: 0.3309
Epoch 41/200, Train Loss: 0.3308
Epoch 42/200, Train Loss: 0.3308
Epoch 43/200, Train Loss: 0.3262
Epoch 44/200, Train Loss: 0.3277
Epoch 45/200, Train Loss: 0.3302
Epoch 46/200, Train Loss: 0.3270
Epoch 47/200, Train Loss: 0.3244
Epoch 48/200, Train Loss: 0.3290
Epoch 49/200, Train Loss: 0.3270
Epoch 50/200, Train Loss: 0.3265
Epoch 51/200, Train Loss: 0.3260
Epoch 52/200, Train Loss: 0.3281
Epoch 53/200, Train Loss: 0.3299
Epoch 54/200, Train Loss: 0.3249
Epoch 55/200, Train Loss: 0.3223
Epoch 56/200, Train Loss: 0.3249
Epoch 57/200, Train Loss: 0.3263
Epoch 58/200, Train Loss: 0.3208
Epoch 59/200, Train Loss: 0.3205
Epoch 60/200, Train Loss: 0.3267
Epoch 61/200, Train Loss: 0.3236
Epoch 62/200, Train Loss: 0.3231
Epoch 63/200, Train Loss: 0.3249
Epoch 64/200, Train Loss: 0.3267
Epoch 65/200, Train Loss: 0.3223
Epoch 66/200, Train Loss: 0.3230
Epoch 67/200, Train Loss: 0.3238
Epoch 68/200, Train Loss: 0.3236
Epoch 69/200, Train Loss: 0.3216
Epoch 70/200, Train Loss: 0.3199
Epoch 71/200, Train Loss: 0.3208
Epoch 72/200, Train Loss: 0.3181
Epoch 73/200, Train Loss: 0.3202
Epoch 74/200, Train Loss: 0.3228
Epoch 75/200, Train Loss: 0.3187
Epoch 76/200, Train Loss: 0.3226
Epoch 77/200, Train Loss: 0.3182
Epoch 78/200, Train Loss: 0.3211
Epoch 79/200, Train Loss: 0.3228
Epoch 80/200, Train Loss: 0.3199
Epoch 81/200, Train Loss: 0.3172
Epoch 82/200, Train Loss: 0.3234
Epoch 83/200, Train Loss: 0.3167
Epoch 84/200, Train Loss: 0.3153
Epoch 85/200, Train Loss: 0.3170
Epoch 86/200, Train Loss: 0.3168
Epoch 87/200, Train Loss: 0.3129
Epoch 88/200, Train Loss: 0.3168
Epoch 89/200, Train Loss: 0.3101
Epoch 90/200, Train Loss: 0.3177
Epoch 91/200, Train Loss: 0.3214
Epoch 92/200, Train Loss: 0.3176
Epoch 93/200, Train Loss: 0.3150
Epoch 94/200, Train Loss: 0.3137
Epoch 95/200, Train Loss: 0.3155
Epoch 96/200, Train Loss: 0.3264
Epoch 97/200, Train Loss: 0.3176
Epoch 98/200, Train Loss: 0.3180
Epoch 99/200, Train Loss: 0.3140
Epoch 100/200, Train Loss: 0.3139
Epoch 101/200, Train Loss: 0.3142
Epoch 102/200, Train Loss: 0.3140
Epoch 103/200, Train Loss: 0.3143
Epoch 104/200, Train Loss: 0.3176
Epoch 105/200, Train Loss: 0.3119
Epoch 106/200, Train Loss: 0.3130
Epoch 107/200, Train Loss: 0.3130
Epoch 108/200, Train Loss: 0.3101
Epoch 109/200, Train Loss: 0.3151
Epoch 110/200, Train Loss: 0.3153
Epoch 111/200, Train Loss: 0.3143
Epoch 112/200, Train Loss: 0.3147
Epoch 113/200, Train Loss: 0.3157
Epoch 114/200, Train Loss: 0.3157
Epoch 115/200, Train Loss: 0.3094
Epoch 116/200, Train Loss: 0.3120
Epoch 117/200, Train Loss: 0.3082
Epoch 118/200, Train Loss: 0.3073
Epoch 119/200, Train Loss: 0.3132
Epoch 120/200, Train Loss: 0.3097
Epoch 121/200, Train Loss: 0.3156
Epoch 122/200, Train Loss: 0.3147
Epoch 123/200, Train Loss: 0.3114
Epoch 124/200, Train Loss: 0.3123
Epoch 125/200, Train Loss: 0.3097
Epoch 126/200, Train Loss: 0.3068
Epoch 127/200, Train Loss: 0.3110
Epoch 128/200, Train Loss: 0.3075
Epoch 129/200, Train Loss: 0.3092
Epoch 130/200, Train Loss: 0.3093
Epoch 131/200, Train Loss: 0.3148
Epoch 132/200, Train Loss: 0.3112
Epoch 133/200, Train Loss: 0.3160
Epoch 134/200, Train Loss: 0.3068
Epoch 135/200, Train Loss: 0.3065
Epoch 136/200, Train Loss: 0.3082
Epoch 137/200, Train Loss: 0.3088
Epoch 138/200, Train Loss: 0.3129
Epoch 139/200, Train Loss: 0.3100
Epoch 140/200, Train Loss: 0.3221
Epoch 141/200, Train Loss: 0.3064
Epoch 142/200, Train Loss: 0.3126
Epoch 143/200, Train Loss: 0.3082
Epoch 144/200, Train Loss: 0.3089
Epoch 145/200, Train Loss: 0.3102
Epoch 146/200, Train Loss: 0.3111
Epoch 147/200, Train Loss: 0.3119
Epoch 148/200, Train Loss: 0.3122
Epoch 149/200, Train Loss: 0.3103
Epoch 150/200, Train Loss: 0.3033
Epoch 151/200, Train Loss: 0.3034
Epoch 152/200, Train Loss: 0.3081
Epoch 153/200, Train Loss: 0.3061
Epoch 154/200, Train Loss: 0.3067
Epoch 155/200, Train Loss: 0.3126
Epoch 156/200, Train Loss: 0.3147
Epoch 157/200, Train Loss: 0.3068
Epoch 158/200, Train Loss: 0.3082
Epoch 159/200, Train Loss: 0.3110
Epoch 160/200, Train Loss: 0.3067
Epoch 161/200, Train Loss: 0.3084
Epoch 162/200, Train Loss: 0.3096
Epoch 163/200, Train Loss: 0.3065
Epoch 164/200, Train Loss: 0.3056
Epoch 165/200, Train Loss: 0.3078
Epoch 166/200, Train Loss: 0.3112
Epoch 167/200, Train Loss: 0.3096
Epoch 168/200, Train Loss: 0.3022
Epoch 169/200, Train Loss: 0.3093
Epoch 170/200, Train Loss: 0.3055
Epoch 171/200, Train Loss: 0.3092
Epoch 172/200, Train Loss: 0.3100
Epoch 173/200, Train Loss: 0.3084
Epoch 174/200, Train Loss: 0.3079
Epoch 175/200, Train Loss: 0.3136
Epoch 176/200, Train Loss: 0.3121
Epoch 177/200, Train Loss: 0.3080
Epoch 178/200, Train Loss: 0.3048
Epoch 179/200, Train Loss: 0.3123
Epoch 180/200, Train Loss: 0.3044
Epoch 181/200, Train Loss: 0.3080
Epoch 182/200, Train Loss: 0.3096
Epoch 183/200, Train Loss: 0.3101
Epoch 184/200, Train Loss: 0.3098
Epoch 185/200, Train Loss: 0.3067
Epoch 186/200, Train Loss: 0.3075
Epoch 187/200, Train Loss: 0.3024
Epoch 188/200, Train Loss: 0.3107
Epoch 189/200, Train Loss: 0.3015
Epoch 190/200, Train Loss: 0.3010
Epoch 191/200, Train Loss: 0.3065
Epoch 192/200, Train Loss: 0.3044
Epoch 193/200, Train Loss: 0.3070
Epoch 194/200, Train Loss: 0.3024
Epoch 195/200, Train Loss: 0.3044
Epoch 196/200, Train Loss: 0.3049
Epoch 197/200, Train Loss: 0.3086
Epoch 198/200, Train Loss: 0.3096
Epoch 199/200, Train Loss: 0.3050
Epoch 200/200, Train Loss: 0.3090

In [350]:
model.eval()  # set model to evaluation mode

total_correct = 0
total_samples = 0

with torch.no_grad():
    for x, y in test_loader:
        outputs = model(x)                         # raw logits          # convert logits to probabilities
        preds = (outputs >= 0.5).float()             # threshold at 0.5

        correct = (preds == y.unsqueeze(1)).float().sum()
        total_correct += correct.item()
        total_samples += y.size(0)

accuracy = total_correct / total_samples
print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 23.6130

In [356]:
torch.save(model.state_dict(), 'model.pth')